
html{
    font-family: "Lato", sans-serif;
    src: url("assets/fonts/lato.ttf");
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 h2 h3 {
    font-family: "Montserrat", sans-serif;
    src: url("assets/fonts/Montserrat-Bold.ttf");
}

header {
    height: 65vh;
    background-image: url("assets/img/studentsbg.png"); 
    background-attachment: fixed;
    margin: -1%;
    margin-top: -10%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header div{
    background-color: #c5192d;
    color:white;
    margin: auto;
    width: 68%;
    height: 60%;
    position: relative; top: 50%;
    text-align:center;
}

header h1{
    padding-top: 4rem;
}

header p{
    margin: 0 auto;
    text-align: center;
}


main {
    box-shadow: 0px 0px 1px darkgrey;
    background-color: whitesmoke;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    width: 70%;
}


#intro-container {
    background-color: #c5192d;
    padding: 30px;
    background: linear-gradient(90deg, #c5192d 50%, white 50%);
}


#intro-container div:nth-child(1) {
    padding: 0px;
    width: 100%;
}

.ul {
    width: 50%; 
}

li:nth-child(3n+1)::before {
    content: "\1F64C";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
   }

li:nth-child(3n+2)::before {
    content: "\1F3EB";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
   }

   
li:nth-child(3n+3)::before {
    content: "\1F4DA";
    width: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
   }


li {
    padding-left: 1rem;
    text-indent: -0.7rem;
    list-style: none;
}

footer{
    background-color: #c5192d;
    color:white;
    margin: auto;

    margin-bottom: -1%;
    width: 70%;
    height: 100%;
}

footer p{
    margin: 0 auto;
    text-align: center; 
    vertical-align: bottom;
    line-height: 100%;
    padding-top: 2em;
}

.article {
    max-width: 45%;  

}

img {
    height: 100%;
    width: 100%;
}

a:link{
    color: white;
}

article{
    column-count: 2;
    column-gap: 10%;
    column-width: 45%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}



@media screen and (min-width: 960 px) and (max-width: 1280px){
    body{
        font-size: 24px;
    }  
    header{
        height: 65vh;
    }
}

@media screen and (min-width: 600px) and (max-width: 960 px){
    body{
        font-size: 16px;  
    }
    header{
        height: 65vh;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px){
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.2rem;
    }
    body{
        font-size: 14px;
        max-width: 70ch;  
    }
    p {
        line-height: 1.5;
        font-size: 1.2rem;
    }
}
