body {
    linear-gradient: (135deg, #f5f7fa 0%, #c3cfe2 100%);
}

h1 h2 h3 h4 {
    font-family:
}


@font-face {
    font-family: "Lato";
    src: url("/assets/font/lato.ttf");
}

header{
    height: 55vh;
    background-image: url('./assets/img/studentsbg.png'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
}